@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
html {
	font-size: 100%;
}

*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans;
}

a {
	text-decoration: none;
}

button {
	background: none;
	outline: none;
}

ul {
	list-style: none;
}
